<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC Golf</title>
    <link rel="stylesheet" href="style.css">
    <script src="../controller/chatOversigt.js"></script>
</head>


<body>
    <div class="navbar">
        <div class="upper-content">
            <img id="logo" src="./images/logo-icon1.png" alt="logo" />
            <div class="navbar-content">
                <button class="secondary-button"
                    onclick="window.open(`https://www.figma.com/proto/wrWij5v5SUI9S2yRdOsVuO/Pr%C3%A6sentationsprototype?node-id=448-3721&t=wXdCiUd86JHvTi3k-0&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=2%3A18&show-proto-sidebar=1`, 'blank')">
                    <img src="./images/search-icon.svg" alt="search" class="icon-size" />
                    Søg
                </button>
                <hr>
                    <button id="create-chat" class="primary-button">
                        <img src="./images/plus-icon.svg" alt="chats" class="icon-size" />
                        Opret en chat
                    </button>
                <a href="/">
                    <button id="all-chats" class="primary-button">
                        <img src="./images/chat.png" alt="chats" class="icon-size" />
                        Chat Oversigt
                    </button>
                </a>
            </div>
        </div>
        <div class="lower-content">
            <div class="user-wrapper">
                <img src="./images/golfballTee.png" alt="avatar" class="icon-size1" />
                <div class="user-info">
                    <h1>Peter Sandager</h1>
                    <h2># 103266</h2>
                </div>
           
            </div>
            <div>
                <img class ="button1" src="./images/settings-icon.png" alt="settings" />
                <img class ="button2" src="./images/logout-icon.png" alt="logout" />
            </div>
        </div>
    </div>


<div id="chat-container"></div>

<script>
    document.getElementById("create-chat").addEventListener("click", () => {
      fetch("/ChatOprettelse.html")
        .then(res => res.text())
        .then(html => {
          document.getElementById("chat-container").innerHTML = html;
        })
        .catch(err => console.error("Kunne ikke hente ChatOprettelse:", err));
    });

    //gør det muligt at se chatoversigten
    if (window.location.pathname === "/") {
    fetch("/chatOversigt")
      .then(res => res.text())
      .then(html => {
        document.getElementById("chat-container").innerHTML = html;
      })
      .catch(err => console.error("Kunne ikke hente chatoversigt:", err));
  } 
  </script>



</body>


</html>