<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC Golf</title>
    <link rel="stylesheet" href="style.css">
    <script src="../controller/orderOversigt.js"></script>
</head>


<body>
    <div class="navbar">
        <div class="upper-content">
            <img id="logo" src="./images/logo-icon1.png" alt="logo" />
            <div class="navbar-content">
            
                <button class="secondary-button"
                    onclick="window.open(`https://www.figma.com/proto/yTYkh3lEQaiTywnXpQrFiZ/Untitled?node-id=116-169&p=f&t=kaqkgSEoxgLBRAFm-0&scaling=scale-down-width&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=26%3A3`, 'blank')">
                    <img src="./images/user.png" alt="user" class="icon-size" />
                    Min Profil
                </button>

                <button id="produkter" class="primary-button"
                    onclick="window.open(`https://www.figma.com/proto/yTYkh3lEQaiTywnXpQrFiZ/Untitled?node-id=117-207&p=f&t=kaqkgSEoxgLBRAFm-0&scaling=scale-down-width&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=26%3A3`, 'blank')">
                    <img src="./images/golf.png" alt="produkter" class="icon-size" />
                    Produkter
                </button>

                <button id="create-chat" class="primary-button" onclick="window.location.href='/ChatOprettelse.html'">
                    <img src="./images/plus-icon.svg" alt="chats" class="icon-size" />
                    Opret en Ordre
                </button>
                <a href="/">
                    <button id="all-chats" class="primary-button">
                        <img src="./images/chat.png" alt="chats" class="icon-size" />
                        Ordre Oversigt
                    </button>
                </a>
            </div>
        </div>
        <div class="lower-content">
            <div class="user-wrapper">
                <img src="./images/golfballTee.png" alt="avatar" class="icon-size1" />
                <div class="user-info">
                    <h1>Peter Sandager</h1>
                </div>
           
            </div>
            <div>
                <img class ="button2" src="./images/logout-icon.png" alt="logout" />
            </div>
        </div>
    </div>


<div id="chat-container"></div>
/*
<script>
    //gør det muligt at se chatoversigten
    if (window.location.pathname === "/") {
    fetch("/chatOversigt")
      .then(res => res.text())
      .then(html => {
        document.getElementById("chat-container").innerHTML = html;
      })
      .catch(err => console.error("Kunne ikke hente chatoversigt:", err));
  } 
  </script>



</body>


</html>