<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC Golf</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
</head>
<body>

    <body>
        <div class="navbar">
          <div class="upper-content">
            <img id="logo" src="./images/logo.png" alt="logo" />
            <div class="navbar-content">
              <button class="secondary-button"
                onclick="window.open(`https://www.figma.com/proto/wrWij5v5SUI9S2yRdOsVuO/Pr%C3%A6sentationsprototype?node-id=448-3721&t=wXdCiUd86JHvTi3k-0&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=2%3A18&show-proto-sidebar=1`, 'blank')">
                <img src="./images/search-icon.svg" alt="search" class="icon-size" />
                Søg
              </button>
              <hr>
              <button id="create-chat" class="primary-button">
                <img src="./images/plus-icon.svg" alt="chats" class="icon-size" />
                Opret en chat
              </button>
              <a href="/">
                <button id="all-chats" class="primary-button">
                  <img src="./images/chat.png" alt="chats" class="icon-size" />
                  Chat Oversigt
                </button>
              </a>
            </div>
          </div>
          <div class="lower-content">
            <div class = "user-wrapper">
              <img src="./images/golfballTee.png" alt="avatar" class="icon-size1"/>
              <div class="user-info">
                <h1>Thomas Studstrup</h1>
                <h2>DGU-NR: 103266</h2>
              </div>
            </div>
            <div>
              <img src="./images/settings-icon.svg" alt="settings" />
              <img src="./images/logout-icon.svg" alt="logout" />
            </div>
          </div>
        </div>
      </body>      

</body>
</html>
