<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC Golf</title>
    <link rel="stylesheet" href="style.css">
    <script src="../model/classes/Message.js"></script>
    <script src="server.js"></script>

    
</head>
<body>
    <div class="box">
      <div class="head">
        <h1>Opret En Ordre </h1>
      </div>

        <!-- Formular -->
        <form class="create" id="createForm" action="/createChat" method="POST" enctype="multipart/form-data">
          
          <!-- Titel -->
          <label for="title">Titel:</label><br />
          <input type="text" id="title" name="title" required /><br /><br />

          <!-- Beskrivelse -->
          <label for="description">Beskrivelse:</label><br />
          <textarea id="description" name="description" rows="4" cols="50" required></textarea><br /><br />


          <label for="trainer">Træner</label>
          <select name="trainer" id="trainer" required>
            <option value="" disabled selected>Vælg Træner</option>
            <option value="Casper">Casper</option>
            <option value="Ny Træner">Ny Træner</option> 
          </select>

          <label for="category">Produkt</label>
          <select name="category" id="category" required>
            <option value="" disabled selected>Vælg Produkt</option>
            <option value="Èn konsultation">Èn konsultation</option>
            <option value="5 ugers forløb">5 ugers forløb</option>
            <option value="10 ugers forløb">10 ugers forløb</option>
            <option value="Sæsonforløb">Sæsonforløb</option>   
          </select>

          <!-- Filupload -->
          <label for="file">Upload billede eller video:</label><br />
          <input type="file" id="file" name="file" accept="image/*,video/*"/><br /><br />

          <button onclick="createChat()">Send</button>
        </form>
      </div>
</body>


</html>
