<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC Golf</title>
    <link rel="stylesheet" href="style.css">
    <script src="../model/classes/Message.js"></script>
    <script src="server.js"></script>
</head>
<body>
    <div class="box">
        <h1>Opret en chat med CC Golf</h1>

        <!-- Formular -->
        <form class="create" id="createForm" action="/createChat" method="POST" enctype="multipart/form-data">
          
          <!-- Titel -->
          <label for="title">Chattens navn:</label><br />
          <input type="text" id="title" name="title" required /><br /><br />

          <!-- Beskrivelse -->
          <label for="description">Beskrivelse:</label><br />
          <textarea id="description" name="description" rows="4" cols="50" required></textarea><br /><br />

          <!-- Filupload -->
          <label for="file">Upload billede eller video:</label><br />
          <input type="file" id="file" name="file" accept="image/*,video/*" /><br /><br />

          <button onclick="createChat()">Send</button>
        </form>
      </div>

</body>
</html>
